 {% load static %}

   <!-- LOGOS -->
        <div class="container" id="container_logos">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                <div class="col" id="col_mined">
                   <a target="_blank" href="https://www.mined.gob.ni/"><img id="img_mined" src="{% static 'core/img/logo_mined_se.svg' %}" class="img-fluid" alt="MINED"> </a>
                </div>
                <div class="col" id="col_sear">
                    <a target="_blank" href="https://www.mined.gob.ni/"> <img id="img_sear" src="{% static 'core/img/logo_SEAR.png' %}" class="img-fluid" alt="SER"></a>
                </div>
                <div class="col" id="col_inatec">
                    <a target="_blank" href="https://www.tecnacional.edu.ni/">
                        <img  id="img_inatec" style="width: 150px; height: auto" src="{% static 'core/img/logo_INATEC.png' %}" class="img-fluid" alt="TECNOLOGICO NACIONAL">
                    </a>

                </div>
                <div class="col" id="col_cnu">
                    <a target="_blank" href="https://www.cnu.edu.ni/">
                      <img id="img_cnu" style="width: 150px; height: auto" src="{% static 'core/img/logo_cnu_2.png' %}" class="img-fluid" alt="CNU">
                    </a>
                </div>
            </div>
        </div>